*.pyc
.#*
*.out
*.bak

# Q-Chem output
*.qcout

# ORCA output
*.gbw
*.ges
*.prop
*.trj

# fragment test output
tests/example_F0.xyz
tests/example_F1.xyz
tests/example_F2.xyz
tests/example_F3.xyz
tests/example_F4.xyz
tests/example_F5.xyz
tests/example_F6.xyz
tests/example_FULL.xyz
