*.pyc
.#*
*.out
*.bak

# Q-Chem output
*.qcout

# ORCA output
*.gbw
*.ges
*.prop
*.trj

# fragment test output
tests/example.F0.xyz
tests/example.F1.xyz
tests/example.F2.xyz
tests/example.F3.xyz
tests/example.F4.xyz
tests/example.F5.xyz
tests/example.F6.xyz
tests/example.FULL.xyz
