*.pyc
.#*
*.out
*.bak

# Q-Chem output
*.qcout

# ORCA output
*.gbw
*.ges
*.prop
*.trj

# fragment test output
fragments.F0.xyz
fragments.F1.xyz
fragments.F2.xyz
fragments.F3.xyz
fragments.F4.xyz
fragments.F5.xyz
fragments.F6.xyz
